# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.pytest_cache/
.env

# Database
*.db
*.sqlite

# Streamlit
.streamlit/

# Flutter / Dart local configuration
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.metadata

# OS
.DS_Store
